input {
  appearance: none;
  box-shadow: none;
  height: 20px;
  width: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;

  &::after {
    content: '';
    font-weight: normal;
    font-size: 8px;
    padding: 0px 8px 0px 7px;
    border-radius: 5px;
    color: #0FD45E;
    background-color: #0FD45E;
    margin: 1px;
    display: none;
  }

  &:checked {
    border-width: 2px;
    border-color: #0FD45E;

    & + #label-input {
      color: #0FD45E;
      font-weight: 500;
    }
  }

  &:checked::after {
    display: block;
  }
}
