<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>

<div class="mx-3 mt-4 mb-3">
  <h3 class="text-green font-weight-bold mb-3">
    Conheça os espaços esportivos
  </h3>

  <div class="d-flex" *ngIf="esportes.length > 2">
    <form [formGroup]="formFilter">
      <app-input-select-option
        [formGroup]="formFilter"
        [controlName]="'esporte'"
        [label]="'Selecione o esporte'"
        [items]="esportes"

        (emitterChange)="filterByEsporte()"
      ></app-input-select-option>
    </form>
  </div>

  <ng-container
    *ngFor="let e of espacosFiltered.length > 0 ? espacosFiltered : espacos"
  >
    <app-card-espaco-esportivo [espaco]="e"></app-card-espaco-esportivo>
  </ng-container>
</div>
