<div class="my-3">
  <div class="d-flex justify-content-between align-items-end">
    <h5 class="text-green">{{ espaco.nome | titlecase }}</h5>

    <app-rating
      [nota]="espaco.mediaAvaliacoes || 5"
      [isClickable]="true"
      (emitterClick)="buscarAvaliacoes()"
    ></app-rating>
  </div>
  <div class="card-conteudo row w-100 mt-2 d-flex align-items-center">
    <div class="col-12 col-md-4 text-center">
      <img
        width="340px"
        height="240px"
        [src]="sanatizerImg(espaco.imagemBase64!)"
      />
    </div>

    <div class="col-12 col-md-8 infos">
      <div>
        <p class="text-dark-blue mb-1">
          <span class="info-title">Descrição do local</span>
        </p>
        <p class="text-dark-blue">{{ espaco.descricao }}</p>
      </div>

      <div class="infos-grid">
        <div>
          <p class="mb-1">
            <span class="info-title">Dimensões</span>
          </p>
          <p class="text-dark-blue">{{ espaco.dimensoes }}</p>
        </div>

        <div>
          <p class="mb-1">
            <span class="info-title">Piso</span>
          </p>
          <p class="text-dark-blue">{{ espaco.piso }}</p>
        </div>

        <div>
          <p class="mb-1">
            <span class="info-title">Capacidade</span>
          </p>
          <p class="text-dark-blue">{{ espaco.capacidade + " pessoas" }}</p>
        </div>

        <div>
          <p class="mb-1">
            <span class="info-title">Duração da locação</span>
          </p>
          <p class="text-dark-blue">
            {{ espaco.periodoLocacao! | mask : "Hh:mm" }}
          </p>
        </div>

        <div>
          <p class="mb-1">
            <span class="info-title">Horário de funcionamento</span>
          </p>
          <p class="text-dark-blue">
            {{ espaco.horaAbertura! | mask : "Hh:mm" }} -
            {{ espaco.horaFechamento! | mask : "Hh:mm" }}
          </p>
        </div>

        <div>
          <p class="mb-1">
            <span class="info-title">Local</span>
          </p>
          <p class="text-dark-blue">{{ espaco.localidade }}</p>
        </div>
      </div>

      <div>
        <p><span class="info-title">Tipos de esporte</span></p>
        <span class="esporte px-3" *ngFor="let e of espaco.listaEsportes">{{
          e.nome | titlecase
        }}</span>
      </div>

      <div class="d-flex justify-content-end">
        <ng-container *ngIf="espaco.disponivel; else naoDisponivel">
          <app-btn-green
            [showIcon]="true"
            [iconFirst]="false"
            [icone]="faCalendar"
            [textButton]="'Reservar Local'"
            (emmiterClick)="solicitarReserva(espaco.id!)"
          ></app-btn-green>
        </ng-container>

        <ng-template #naoDisponivel>
          <div class="espaco-indisponivel">
            <span class="me-2"> Indisponível </span>
            <fa-icon [icon]="faCalendarX"></fa-icon>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
