@import "/src/cores.scss";

header {
  background-color: var(--branco);
}

.itens-cabecalho {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  .saudacao {
    font-size: 26px;
    font-weight: 400;
    color: var(--azul-escuro);
  }
}

.btn-notifications {
  border: none;
  background-color: transparent;
  position: relative;

  span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--vermelho);
    color: var(--branco);
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 12px;
  }

  fa-icon {
    font-size: 30px;
    color: var(--azul-escuro);
  }
}

.com-notificacao {
  fa-icon {
    color: var(--azul-escuro);
  }
}

.sem-notificacao {
  fa-icon {
    color: var(--cinza-claro);
  }
}

.dados-cliente {
  cursor: pointer;

  fa-icon {
    font-size: 25px;
    color: var(--azul-escuro);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  transition: right 0.3s;
  z-index: 999 !important;
  color: var(--cinza-claro);
  width: 450px;
  height: 90%;
  margin: 50px 0;
  padding: 20px;
  border-radius: 10px 0 0 10px;

  ul {
    background-color: transparent;
    list-style: none;
    padding: 0;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--verde) var(--branco);

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: var(--branco);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--verde);
      border-radius: 20px;
      border: 3px solid var(--branco);
    }
  }

  li {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
  }

  p {
    margin: 0;
    color: var(--verde);
  }

  small {
    color: var(--cinza-claro);
  }

  .notificacao-conteudo::first-letter {
    text-transform: uppercase !important;
  }

  .nao-lida {
    transition: 0.2s ease-in-out;

    p {
      font-weight: 500;
    }

    small {
      color: var(--azul-escuro);
    }
  }
}

.sidebar-glass {
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.hidden {
  right: 0;
}
