<div class="d-flex align-items-center justify-content-center">
  <div class="card-msg card-shadow p-3 mt-5">
    <header class="d-flex align-items-center justify-content-center">
      <img
        src="../../../assets/site/logo-sport-ease.png"
        alt="logo sport ease ufpr"
        width="70"
      />
      <h1 class="ms-2 mb-0 text-dark-blue">SportEase</h1>
    </header>

    <main class="text-center mt-5">
      <h2 class="text-green">Conta criada com sucesso!</h2>

      <p class="text-gray my-4 px-3">
        Em alguns minutos você irá receber um e-mail com as instruções de
        ativação da sua nova conta.
      </p>

      <div class="card-button-confirm mx-auto">
        <app-btn-green [textButton]="'Entendi'"></app-btn-green>
      </div>
    </main>
  </div>
</div>
