@import "/src/cores.scss";

.comentarios {
  max-height: 400px;
  overflow-y: auto;

  .card-comentario {
    background-color: var(--branco);
    box-shadow: 2px 2px 4px 0 var(--cinza-claro);
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;

    .card-cabecalho {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .data {
        color: var(--cinza-claro);
      }
    }

    .comentario {
      font-style: italic;
    }
  }
}

.with-scrollbar {
  background-color: var(--branco);
  scrollbar-width: thin;
  scrollbar-color: var(--verde) var(--branco);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--branco);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--verde);
    border-radius: 20px;
    border: 3px solid var(--branco);
  }
}
