<div class="modal-body">
  <div class="text-end">
    <button class="btn-close-modal text-gray" (click)="closeModal()">
      <fa-icon [icon]="faCancel"></fa-icon>
    </button>
  </div>

  <div>
    <h4 class="modal-title text-green text-center">Avaliações {{ nome }}</h4>
  </div>

  <hr class="mt-1 mb-2" />

  <div class="comentarios with-scrollbar">
    <div class="card-comentario m-2" *ngFor="let a of avaliacoes">
      <div class="card-cabecalho">
        <app-rating [nota]="a.avaliacao!"></app-rating>
        <small class="data text-end">{{
          a.dataHoraComentario | date : "HH:mm - dd/MM/yyyy"
        }}</small>
      </div>
      <div class="card-corpo">
        <p class="mb-1">
          {{ a.comentario }}
        </p>
      </div>
    </div>
  </div>
</div>
