:root{
  --branco: #ffffff;
  --branco-gelo: #f8f9fa;
  --cinza: #737791;
  --cinza-claro: #aaaaaa;
  --vermelho: #ff0000;
  --verde: #0fd45e;
  --azul-claro: #fafbfc;
  --azul: #0076ff;
  --azul-escuro: #151d48;
}
